/* roboto-slab-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-slab-v9-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url('../fonts/roboto-slab-v9-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-slab-v9-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-slab-v9-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-slab-v9-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-slab-v9-latin_cyrillic-regular.svg#RobotoSlab') format('svg'); /* Legacy iOS */
}

html, body {
  font-family: 'Roboto Slab', serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  height: 100%;
  background: #f6f6f6 !important;
  color: #333;
}
.pure-g [class*=pure-u] {
  font-family: 'Roboto Slab', serif;
}
.pointer {
  cursor: pointer;
}
.wait {
  max-width: 400px;
  padding: 20px;
  filter: brightness(96.5%);
}
.result-score {
  font-size: 100px;
  font-weight: bold;
}
.rename-button {
  width: 12px;
  padding: 6px;
  margin-left: 10px;
  position: absolute;
  opacity: 0.3;
  cursor: pointer;
}
.remove-button {
  background: transparent;
  border: none;
}
.remove-button:focus {
  outline: none;
}
.remove-button img {
  width: 12px;
  opacity: 0.3;
  top: 6px;
  position: absolute;
  transition: all 0.3s ease;
}
.remove-button img:hover {
  transform: scale(1.3) rotate(90deg);
}
.poker-card {
  width: 100px;
  height: 140px;
  background: #fefefe;
  border-radius: 10px;
  border: none;
  padding: 5px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px 5px;
  text-align: center;
  box-shadow: 2px 2px 2px #e5e5e5;
  transition: all 0.2s ease;
  font-size: 16px;
  word-break: break-word;
}
.poker-card-new {
  width: 100px;
  height: 140px;
  border-radius: 10px;
  border: none;
  padding: 5px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px 5px;
  text-align: center;
  transition: all 0.2s ease;
  font-size: 16px;
  word-break: break-word;
  background: #f6f6f6;
  box-shadow: inset 0px 0px 6px 0px #e5e5e5;
}
.poker-card:hover {
  transform: translateY(-6px);
  box-shadow: 2px 8px 4px #e6e6e6;
}
.poker-card-new:hover {
  box-shadow: inset 0px 0px 6px 0px #aaa;
}
.poker-card:active {
  transform: translateY(-3px);
  box-shadow: 2px 5px 4px #e6e6e6;
}
.poker-card:focus {
  outline: none;
}
.poker-card p, .poker-card-new p {
  margin: 20px 0px;
  position: absolute;
  top: 50%;
  left: 5px;
  max-width: 100px;
  margin-top: -18px;
  width: 100%;
}
.poker-card-value-1, .poker-card-value-2 {
  position: absolute;
  padding: 5px 10px;
  font-size: 16px;
  color: #aaa;
}
.poker-card-value-1 {
  top: 0px;
  left: 0px;
}
.poker-card-value-2 {
  bottom: 0px;
  right: 0px;
  transform: rotate(180deg);
}
.poker-card-count {
  position: absolute;
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  top: -10px;
  right: -10px;
  background: #0f9eee;
  border-radius: 30px;
  font-family: Arial;
  font-weight: bold;
}
.skip {
  background: transparent;
  border: none;
  font-size: 12px;
  color: #aaa;
  margin-top: 5px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.skip:hover {
  color: #4d4b4b;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
  z-index: 1;
  padding-bottom: 30px;
}
footer {
  padding: 25px 0px 20px 0px;
  flex-shrink: 0;
  background: #f0f0f4;
}
a {
  font-family: 'Roboto Slab', serif;
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 900px;
}
.header {
  padding-top: 30px;
  padding-bottom: 10px;
}
.header-href {
  font-size: 28px;
  font-weight: bold;
}
.header-href img {
  width: 140px;
  transition: all 0.3s ease;
}
.header-href img:hover {
  transform: scale(1.1);
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.social {
  display: inline-block;
  padding: 5px 10px 5px 0px;
}
.credentials {
  font-size: 12px;
  float: right;
  line-height: 30px;
  font-family: 'Roboto Slab', serif;
}
.footer-links {
  text-align: center;
}
.footer-links a {
  font-size: 12px;
  line-height: 30px;
  padding: 0px 10px;
}

/* Buttons */

.btn {
  padding: 7px 22px;
  border-radius: 22px;
  border: none;
  margin: 5px;
  line-height: 21px;
  font-size: 14px;
  display: inline-block;
  transition: background 0.3s ease;
  text-align: center;
  background: #e0e0e4;
  color: #666;
  cursor: pointer;
}
.btn:hover {
  background: #d6d6da;
}
.btn:active {
  background: #cdcddd;
}
.btn:focus {
  outline: none;
}
.danger {
  background: #f2524a;
  color: #fff;
}
.danger:hover {
  background: #dd453e;
}
.warning {
  background: #f2aa4a;
  color: #fff;
}
.warning:hover {
  background: #db973c;
}
.success {
  background: #1CB8A0;
  color: #fff;
}
.success:hover {
  background: #179f8a;
}
.text-input.wide {
  width: 100%;
  max-width: 200px;
}
.text-input.s-wide {
  width: 100%;
  max-width: 380px;
}
.text-input {
  padding: 6px 22px;
  border: none;
  margin: 5px;
  border-radius: 22px;
  line-height: 22px;
  transition: box-shadow 0.2s ease;
}
.text-input::placeholder {
  font-size: 14px;
}
.text-input:focus {
  outline: none;
}

.select-input {
  text-align-last:center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 7px 21px;
  border: none;
  margin: 5px;
  border-radius: 22px;
  line-height: 22px;
  transition: box-shadow 0.2s ease;
  background: white;
  cursor: pointer;
  font-size: 14px;
}
.select-input:focus {
  outline: none;
}

/* Mobile */

.sm-hidden, .md-hidden{
  display: inline-block !important;
}
.sm-visible, .md-visible{
  display: none !important;
}
.right {
  float: right;
}

@media only screen and (max-width: 567px) {
   .sm-hidden{
     display: none !important;
   }
   .sm-visible{
     display: inline-block !important;
   }
   .wait {
     width: 200px;
   }
   .right {
     float: inherit;
   }
}

@media only screen and (max-width: 769px) {
   .md-hidden{
     display: none !important;
   }
   .md-visible{
     display: inline-block !important;
   }
   .right {
     float: inherit;
   }
   .poker-card, .poker-card-new {
     width: 62px;
     height: 90px;
     border-radius: 6px;
     padding: 5px;
     margin: 5px 3px;
     font-size: 11px;
   }
   .result-score {
     font-size: 50px;
   }
   h1 {
     font-size: 20px !important;
   }
}

.up-arrow {
  width: 80px;
  position: absolute;
  right: -50px;
  top: -40px;
}

.round-href {
  color: #2281e4;
  transition: all 0.2s ease;
}
.round-href:hover {
  color: #459cf7;
}

.user-img {
  width: 20px;
  position: absolute;
  top: 1px;
  padding-left: 8px;
  opacity: 0.3;
  transition: all 0.3s ease;
}
.user-img:hover {
  transform: scale(1.3);
}

.last-one {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background: #EA1F2A;
  color: #fff;
  text-align: center;
  padding: 10px;
  z-index: 1000;
}

#trex {
  width: 100%;
  height: 160px;
  transition: all 0.5s ease-in;
  border: none;
}

.member-name {
  cursor: default;
  transition: all 0.3s ease;
}
.member-name:hover {
  color: #1CB8A0;
}


.message {
  background: #CCE6FF;
  color: #004085;
  width: 100%;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 5px;
}
.message.msg-error {
  background: #F8D7DB;
  color: #721C24;
}
.message.msg-success {
  background: #c0f6ee;
  color: #138f7c;
}
