{% extends "base.html" %}
{% load i18n static %}

{% block body %}
<div class="container">
  <div class="header">
    <a href="{% url 'poker:index' %}" class="header-href">
      <img src="{% static 'images/logo.png' %}" alt="">
    </a>
    <a href="/" class="btn right">Назад</a>
  </div>
  <form class="" action="{% url 'poker:create' %}" method="post">
    {% csrf_token %}
    <h1>{% trans "Create new room" %}</h1>
    <input type="text" name="name" value="" class="text-input" style="width: 340px;" placeholder="{% trans 'Enter room name' %}">
    <input type="submit" name="" value="{% trans 'Create' %}" class="btn">
    <br><br>
  </form>
</div>
{% endblock %}
