{% extends "base.html" %}
{% load i18n static %}

{% block body %}
<div class="container">
  <div class="header">
    <a href="{% url 'poker:index' %}" class="header-href">
      <img src="{% static 'images/logo.png' %}" alt="">
    </a>
    <a href="/create/" class="btn right sm-hidden">{% trans "Create new room" %}</a>
  </div>
  {% if available_rooms or recent_rooms %}
    {% if available_rooms %}
    <h1>Доступные комнаты</h1>
    {% for room in available_rooms %}
    <a class="poker-card" href="{% url 'poker:room' room.token %}">
      <p>{{ room.truncated_name }}</p>
      <div class="poker-card-value-1">{{ room.members.count }}</div>
      <div class="poker-card-value-2">{{ room.members.count }}</div>
    </a>
    {% endfor %}
    {% endif %}

    {% if recent_rooms %}
    <h1>Недавние комнаты</h1>
    {% for recent in recent_rooms %}
    <a class="poker-card" href="{% url 'poker:room' recent.room.token %}">
      <p>{{ recent.room.truncated_name }}</p>
      <div class="poker-card-value-1">{{ recent.room.members.count }}</div>
      <div class="poker-card-value-2">{{ recent.room.members.count }}</div>
    </a>
    {% endfor %}
    {% endif %}
  {% else %}
  <div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-18-24">
      <h2>Добро пожаловать в Planning Poker</h2>
      <p>Вы можете оценивать свои задачи этими замечательными<a href="https://tjournal.ru/tweets/107760-universalnaya-tablica-ocenki-zadach" target="_blank" class="round-href"> карточками</a>:</p>
      {% for name, value in cards %}
      <button class="poker-card" value="{{ value }}">
        {{ name }}
        <div class="poker-card-value-1">{{ value }}</div>
        <div class="poker-card-value-2">{{ value }}</div>
      </button>
      {% endfor %}
    </div>
    <div class="pure-u-1-1 pure-u-md-6-24 md-hidden">
      <p style="position: relative; padding-top: 30px; text-align: center;">
        <b>Для начала голосования нужно создать комнату</b>
        <img src="{% static 'images/up.gif' %}" alt="" class="up-arrow">
      </p>
    </div>
  </div>
  {% endif %}
  <br><br>
  <a href="/create/" class="btn sm-visible">{% trans "Create new room" %}</a>
</div>
{% endblock %}
