{% extends "base.html" %}
{% load i18n static %}

{% block body %}

{% if last_one %}
<div class="last-one">
  <b>Только вы не проголосовали</b>
</div>
{% endif %}

<div class="container">
  <div class="header">
    <a href="{% url 'poker:index' %}" class="header-href">
      <img src="{% static 'images/logo.png' %}" alt="">
    </a>
    <a href="/user/" class="btn success right sm-hidden">{{ request.user }}</a>
  </div>
  <form class="pure-g" action="{% url 'poker:room' room.token %}" method="post" autocomplete="off">
    {% csrf_token %}

      <div class="pure-u-1-1 pure-u-md-18-24">
        {# Room name #}
        <h1 class="room-name">Комната «{{ room.name }}»</h1>

        {# Round theme #}
        <div>
          {% if poker_round.name %}
          <b>
          {% autoescape off %}
            {{ poker_round.html_name }}
          {% endautoescape %}
          </b>
          {% else %}
          Без темы
          {% endif %}
          <img src="{% static 'images/edit.svg' %}" alt="" class="rename-button" onclick="show_rename()">
          <div style="display: none; padding-top: 10px;" id="rename">
            <input type="text" name="name" class="text-input s-wide" placeholder="Введите тему голосования" {% if poker_round.name %}value="{{ poker_round.name }}"{% endif %}>
            <input type="submit" name="save" value="Сохранить" class="btn">
          </div>
        </div>

        {% if poker_round.completed %}
        {# 1. Vote completed #}
        <p>Участники решили, что <b>{{ poker_round.opinion }}.</b></p>
        <div class="result-score text-center">
          {{ poker_round.score }}
        </div>
        {# Result votes cards #}
        {% for vote in poker_round.member_votes_as_cards %}
        <div class="poker-card md-hidden" href="#">
          <p>{{ vote.card }}</p>
          <div class="poker-card-value-1">{{ vote.value }}</div>
          <div class="poker-card-value-2">{{ vote.value }}</div>
          {% if vote.count > 1 %}
          <div class="poker-card-count">
            x{{ vote.count }}
          </div>
          {% endif %}
        </div>
        {% endfor %}
        {% else %}
        {# 2. Vote NOT completed #}
        <br>
          {% if voted %}
          {# 2.1 You voted #}
          <div>Вы проголосовали! Ожидание остальных участников...</div>
          <br>
          <img src="{% static 'images/wait.gif' %}" id="wait-gif" class="wait">
          <iframe src="https://wayou.github.io/t-rex-runner/" id="trex" class="sm-hidden" scrolling="no" style="opacity: 0;"></iframe>
          {% else %}
          {# 2.2. You NOT voted yet #}
            {% for name, value in cards %}
            <button class="poker-card" type="submit" name="vote" value="{{ value }}" id="card-{{ value }}">
              {{ name }}
              <div class="poker-card-value-1">{{ value }}</div>
              <div class="poker-card-value-2">{{ value }}</div>
            </button>
            {% endfor %}
            <div class="text-center sm-hidden" style="width: 100%; max-width: 565px;">
              <button type="submit" name="vote" value="0" class="skip">
                Пропустить
              </button>
              <span class="skip pointer" onclick="alert('Секретное голосование нужно, если вы транслируете свой экран для всех. Тогда вам важно, что никто не увидит, как вы проголосовали.\n\nВо время голосования введите нужное число на клавиатуре (например 20) и нажмите Enter.')">
                Секретное голосование
              </span>
            </div>
          {% endif %}

        {% endif %}
      </div>
      <div class="pure-u-1-1 pure-u-md-6-24">
        <h1>Участники</h1>
        {% for m, vote in poker_round.member_votes %}
          <div class="pure-g" style="position: relative; padding-bottom: 10px;">
            <div class="pure-u-4-24" style="text-align: center;">
              {% if vote.value is None %}
                —
                {% else %}
                  {% if poker_round.completed %}
                  {{ vote.value }}
                  {% else %}
                  +
                  {% endif %}
              {% endif %}
            </div>
            <div class="pure-u-20-24" style="position: relative;">
              <b title="{{ m.user }}" class="member-name">{{ m }}</b>
              {% if m == member %}
                <img src="{% static 'images/user.svg' %}" alt="_()_" class="user-img" title="Это Вы">
              {% else %}
              <button type="submit" name="delete" value="{{ m.id }}" class="remove-button">
                <img src="{% static 'images/remove.svg' %}" alt="X" title="Удалить?">
              </button>
              {% endif %}
            </div>
          </div>
        {% endfor %}
        <div style="padding-top: 10px;" class="text-center">
          {% if poker_round.completed %}
          <input type="submit" name="new" value="Новое голосование" class="btn success">
          {% else %}
          <input type="submit" name="end" value="Закончить досрочно" class="btn danger">
          <button type="button" id="refresh" class="btn warning" style="display: none;"onClick="window.location.reload();">Обновить страницу</button>
            {% if voted %}
            <button type="submit" name="revote" value="1" class="btn">
              Изменить решение
            </button>
            <div onclick="open_game()" id="game-btn" class="btn sm-hidden">
              Поиграть 🦖
            </div>
            {% else %}
            <button type="submit" name="vote" value="0" class="btn sm-visible">
              Пропустить
            </button>
            {% endif %}
          {% endif %}
          <a name="button" href="{% url 'poker:settings' room.token %}" class="btn">Настройки комнаты</a>
          <a href="/user/" class="btn success right sm-visible">{{ request.user }}</a>
        </div>

      </div>
  </form>
</div>
{% endblock %}

{% block js %}
<script>

var secret_vote = '';
var need_to_check_status = true;

function show_rename() {
  need_to_check_status = false;
  document.getElementById('rename').style.display = "block";
}

function open_game() {
  need_to_check_status = false;
  document.getElementById("trex").style.opacity = "1";
  document.getElementById("trex").focus();
  document.getElementById('wait-gif').remove();
  document.getElementById('game-btn').remove();
}

document.addEventListener('keypress', secretVote);
function secretVote(e) {
  if (e.key == 'Enter') {
      var el = document.getElementById('card-' + secret_vote);
      if (el != null) {
        el.click();
      } else {
        alert('Введено неверное число. Выбирайте из диапазона карточек.');
        secret_vote = '';
      }
  } else {
      secret_vote += e.key;
  }
}

function update_room_status() {
  var xmlhttp = new XMLHttpRequest();
  var url = "{% url 'poker:status' room.token %}";

  xmlhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
          var response = JSON.parse(this.responseText);
          console.log("Room status: " + response["status"]);

          if (response["status"] != "{{ room.status }}") {
            if (need_to_check_status) {
                window.location = window.location.href;
            } else {
                document.getElementById('refresh').style.display = "inline-block";
            }

          }
      }
  };
  xmlhttp.open("GET", url, true);
  xmlhttp.send();
}

setInterval(update_room_status, 4000);
</script>
{% endblock %}
